/* 



*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	display: flex;
	justify-content: center;
}


/* 


OVERLAY 

header, footer, etc. 


*/


#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#title {
	height: 90%;
}

#title h4 {
	text-align: center;
	color: #dfdfdf;
	font-family: 'Aguafina Script', cursive;
	font-size: 48px;
	font-weight: 100;
	text-shadow: 1px 1px 2px rgba(0,0,0,66.6%);
	z-index: 9000;
}

#title h6 {
	text-align: center;
	color: tomato;
	font-family: 'Operator Mono Lig', 'Operator Mono', monospace;
	font-size: 12px;
	font-weight: lighter;
	font-style: italic;
	text-shadow: 2px 1px 1px rgba(0,0,0,100%);
	margin-top: -85px;
}

#footer {
	height: 10%;
	font-size: 14px;
	font-family: 'Operator Mono Lig', 'Operator Mono', monospace;
	color: #DFDFDF;
	text-align:center;

}


/* 


LINK AREA AND LINKS


*/


#quicklinks {
	/* container */
	width: 100%;
	min-height: 55%;
	padding: 10%;
	columns: 14em;
	column-gap: 2em;
	column-rule: 1px dotted rgba(66,66,66,66.6);
	font-size: 16px;
	font-family: monospace;
	color: rgba(255,255,255,66.6%);
}

#quicklinks a {
	text-decoration: none;
	color: rgba(255,255,255,66.6%);
}


.quicklink {
	/* individual link box */
	

	margin: 15px;
	padding: 0px;

}



.quicklink h3 {
	padding: 30px;
	margin: 0px;
	text-align: center;
	text-transform: capitalize;
	font-size: 12px;
}

.quicklink ul {
	/* sublinks */
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;

	-webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}

.quicklink ul li {
	width: 170px;
	margin: 0px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.kcunderline {
	text-decoration: underline;
	/* text-decoration-style: wavy; */
	text-decoration-color: tomato;
	color: tomato;
}



/* 


OMNIBOX AND SEARCH RESULTS


*/


#omnibox {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 700px;
	height: 500px;

	margin-left: -350px;
	margin-top: -100px;

	z-index: 9000;

	text-align: center;
	background-color: #333;
	box-shadow: 5px 5px 6px rgba(33,33,33,85%);
}

#omnibox input {
	width: 480px;
	font-size: 36px;
	font-family: monospace;
	background: #454545;
	color: #ccc;
	border: none;
	text-align: left;
	padding: 10px;
	margin: 25px;
}

#breadcrumb {
	width: inherit;
	padding: 4px 100px;
	text-align: left;
	font-family: 'Operator Mono Lig', 'Operator Mono', monospace;
	font-size: 16px;
	color: #DEDEDE;

}

#omniSearchResults {
	height: 250px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	color: #aaa;
}

.searchResult {
	width: 499px;
	font-family: monospace;
	text-align: left;
	padding-left: 15px;
	padding-top: 2px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #666;
}

.searchResult .selected {
	border-bottom: 1px dotted rgb(11, 209, 183);
	border-left: 10px solid rgb(11, 209, 183);
}

.searchResult h1 {
	font-size: 16px;
}

.searchResult p {
	font-size: 12px;
}


/* 


PRETTY COLORS I INTEND TO USE AT SOME POINT


*/



.red {
	background-color: hsl(0, 100%,50%);
}

.orange {
	background-color: hsl(20, 100%, 50%);
}

.yellow {
	background-color: hsl(45, 100%, 50%);
}

.green {
	background-color: hsl(135, 100%, 50%);
}

.selected {
	background-color: hsl(270, 100%, 50%);
}