/* 



*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
}

#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333;

	/* Flex for every browser */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	
	/* flex instructions */
	flex-flow: column wrap;	
}

/* each row is 100% */

#container > * {
	flex: 1 100%;
}


/* 


OVERLAY 

header, footer, etc. 


*/


#title {
	height: 10%;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,85%);
	display: block;
}

#title h4 {
	text-align: center;
	color: #dfdfdf;
	font-family: 'Aguafina Script', cursive;
	font-size: 48px;
	font-weight: 100;
	text-shadow: 1px 1px 2px rgba(0,0,0,66.6%);
	z-index: 9000;
}

#title h6 {
	text-align: center;
	color: tomato;
	font-family: 'Operator Mono Lig', 'Operator Mono', monospace;
	font-size: 12px;
	font-weight: lighter;
	font-style: italic;
	text-shadow: 2px 1px 1px rgba(0,0,0,100%);
	margin-top: -85px;
}

#footer {
	width: 100%;
	font-size: 14px;
	font-family: 'Operator Mono Lig', 'Operator Mono', monospace;
	color: #DFDFDF;
	text-align:center;
	display: block;

}


/* 


LINK AREA AND LINKS


*/


#quicklinks {

	display: inline-block;
	vertical-align: middle;

	/* container */
	max-height: 300px;

	/* columnify w overflow */
	/* columns: 10em;
	column-gap: 2em;
	column-rule: 1px dotted rgba(66,66,66,66.6);
	column-fill: auto;
	 */
	/* style */
	font-size: 16px;
	font-family: monospace;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: center;
}

#quicklinks a {
	/* Strip default style */
	text-decoration: none;
}

#quicklinks * {
	max-width: 160px;
}



.linkTable, .linkTable ul, .linkTable li, .linkTable ul ul, .linkTable ul ul li {
	
	/* 
	
	Overwrite default ordered list behavior
	
	*/
	
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	display: inline-block;
}


.quicklink {
	/* individual link box */
	margin: 15px;
	padding: 0px;

}

.quicklink h3 {
	text-align: left;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 12px;
	margin-top: 0;
}

.quicklink ul {
	/* sublinks */
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.quicklink ul li {
	width: 170px;
	margin: 0px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.kcunderline {
	text-decoration: underline;
	font-weight: bold;
}



/* 


OMNIBOX AND SEARCH RESULTS


*/


#omnibox {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 700px;
	height: 500px;

	margin-left: -350px;
	margin-top: -100px;

	z-index: 9000;

	text-align: center;
	background-color: #333;
	box-shadow: 5px 5px 6px rgba(33,33,33,85%);
}

#omnibox input {
	width: 480px;
	font-size: 36px;
	font-family: monospace;
	background: #454545;
	color: #ccc;
	border: none;
	text-align: left;
	padding: 10px;
	margin: 25px;
}

#breadcrumb {
	width: inherit;
	padding: 4px 100px;
	text-align: left;
	font-family: 'Operator Mono Lig', 'Operator Mono', monospace;
	font-size: 16px;
	color: #DEDEDE;

}

#omniSearchResults {
	height: 250px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	color: #aaa;
}

.searchResult {
	width: 499px;
	font-family: monospace;
	text-align: left;
	padding-left: 15px;
	padding-top: 2px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #666;
}

.searchSelected {
	border-bottom: 1px dotted rgb(11, 209, 183);
	border-left: 10px solid rgb(11, 209, 183);
}

.searchResult h1 {
	font-size: 16px;
}

.searchResult p {
	font-size: 12px;
}


/* 


PRETTY COLORS I INTEND TO USE AT SOME POINT


*/



.red, .red *, .red a:visited{
	color: hsl(0, 100%,50%);
}


.red .linkSelected, .red .linkSelected * {
	background-color: hsl(0, 100%,50%);
}

.red .kcunderline {
	text-decoration-color: hsl(0, 100%,50%);
}	

.orange, .orange *, .orange a:visited{
	color: hsl(20, 100%, 50%);
}


.orange .linkSelected {
	background-color: hsl(20, 100%, 50%);
}

.orange .kcunderline {
	text-decoration-color: hsl(20, 100%, 50%);
}	

.yellow, .yellow *, .yellow a:visited {
	color: hsl(45, 100%, 50%);
}


.yellow .linkSelected{
	background-color: hsl(45, 100%, 50%);
}

.yellow .kcunderline {
	text-decoration-color: hsl(45, 100%, 50%);
}	

.green, .green *, .green a:visited{
	color: hsl(115, 100%, 50%);
}

.green .linkSelected {
	background-color: hsl(135, 100%, 50%);
}

.green .kcunderline {
	text-decoration-color: hsl(135, 100%, 50%);
}	

.blue, .blue *, .blue a:visited {
	color: hsl(205, 100%, 50%);
}

.blue .linkSelected {
	background-color: hsl(205, 100%, 50%);
}

.blue .kcunderline {
	text-decoration-color: hsl(205, 100%, 50%);
}	

.purple, .purple *, .purple a:visited{
	color: hsl(270, 100%, 70%);
}

.purple .linkSelected {
	background-color: hsl(270, 100%, 70%);
}

.purple .kcunderline {
	text-decoration-color: hsl(270, 100%, 70%);
}	

.linkSelected, .linkSelected *, .linkSelected a:visited {
	color: #333;
}